:root {
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #3c3c3c;
  background-color: #040404;
  background-color: #000;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: -2rem;
}
img {
  border-radius: 0.3rem;
}
/*
*/
header img {
  width: 15rem;
  height: 15rem;
  border-radius: 0.3rem;
  z-index: -1;
}

.navegacion {
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-radius: 0.3rem;
  width: 100%;
}
.precios,
.compras,
.opiniones,
.proveedor {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  text-align: center;
  height: 2.5rem;
}
/*precios*/
.precios-enlace {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: white;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  z-index: 2;
}
.compras-enlace {
  color: #040404;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #ed7727;
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  z-index: 1;
}
.compras-enlace a,
.opiniones-enlace a {
  color: white;
  text-decoration: none;
}
.opiniones-enlace {
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  background-color: #ea1c28;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.opiniones-enlace img {
  margin-left: -4rem;
  z-index: 1;
}
.fondo {
  position: absolute;
  background-color: #ed7727;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.fondo-compra {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ea1c28;
  z-index: -1;
}
.opiniones-enlace img {
  text-align: center;
}
.fondo-op {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
  top: 0;
}
.precios-enlace a {
  text-decoration: none;
  color: #040404;
}

.precios,
.compras,
.opiniones,
.proveedor {
  transition: font-size 0.5s ease;
}
.precios:hover,
.compras:hover,
.opiniones:hover,
.proveedor:hover {
  font-size: 18px;
}

.precios img,
.compras-enlace img,
.opiniones img,
.proveedor-enlace img {
  width: 16px;
  height: 16px;
}

.proveedor-enlace {
  position: absolute;
  background-color: white;
  height: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
}
.proveedor-enlace img {
}
.proveedor-fondo {
  position: relative;
  z-index: -1;
  background-color: white;
  height: 100%;
  width: 100%;
}
.proveedor-enlace a {
  color: #040404;
  text-decoration: none;
}
.compras {
  color: #040404;
}

.proveedor-enlace img {
  z-index: 1;
}

/*
carusel 
*/

/*
carusel imagenes 
*/
.carrusel {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.carrusel-videos,
.carrusel-imagenes {
  width: 20rem;
  height: 20rem;
  position: relative;
}
.carrusel-imagenes img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.carrusel-imagenes img {
  position: absolute;
  opacity: 0;
}

.video-activo {
  background-color: white;
}
.carrusel-videos {
  border-radius: 0.8rem;
  background-color: white;
  display: flex;
  z-index: -2;
  gap: 2rem;
}
.carrusel-videos img,
.carrusel-videos video {
  border: thick solid white;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
}
.carrusel-videos video {
  background-image: url(302495259_509857827810397_6324300132683450414_n.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.carrusel-videos::after {
  content: "";
  width: 100%;
  height: 6rem;
  background-color: #2968c8;
  position: absolute;
  z-index: -1;
  border-radius: 0.8rem 0.8rem 0 0;
}
.contenido {
  margin-top: -1rem;
}
.chimuzero-persona {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}
.chimuzero {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1.5rem;
  position: absolute;
}

.chimuzero button {
  width: 40%;
  margin: auto;
  background-color: #2968c8;
  border: none;
  border-radius: 0.3rem;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

/* Estilos para la lista de tareas con el nombre de clase modificado */
.btns {
  position: absolute;
  display: flex;
  width: 5rem;
  bottom: -2rem;
}
.btns input[type="radio"] {
  width: 1em;
  height: 1em;
  appearance: none;
  -webkit-appearance: none;
  margin-right: 10px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btns input:checked {
  background-color: white;
}

.btns input[type="radio"]::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: background-color 0.3s;
}
.contenido {
  margin-top: 0.5rem;
}
@keyframes ver-video {
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.ver-video {
  animation: ver-video 1s ease both;
}
@keyframes ver {
  0% {
  }
  100% {
    opacity: 1;
  }
}
.activa {
  animation: ver 0.5s ease 0.1s both;
}
.menu-celulares {
  display: none;
}

/*responsive phone*/
@media (max-width: 430px) {
  header {
    margin-top: -1rem;
  }
  header img {
    width: 14rem;
    height: 14rem;
    z-index: -1;
  }
  .navegacion {
    display: none;
  }
  .menu-celulares {
    position: fixed;
    width: 100%;
    height: 3rem;
    bottom: 0;
    display: flex;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-celulares div {
    width: calc(100% / 4);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }
  .menu-celulares img {
    width: 20px;
    height: 20px;
  }
  .menu-celulares p {
    font-size: 10px;
  }

  .carrusel {
    flex-direction: column;
    height: auto;
    gap: 1rem;
    width: 80%;
    margin: auto;
    margin-top: -2rem;
  }
  .carrusel .carrusel-imagenes .carrusel-videos {
    width: 100%;
  }
}

.activa {
  z-index: 100;
}
